@charset "UTF-8";

/*     <----- load fonts ----->     */
@font-face
{
    font-family: Titillium Web;
    src: url(../fonts/Titillium_Web_regular.eot),
         url(../fonts/Titillium_Web_regular.ttf),
         url(../fonts/Titillium_Web_regular.woff),
         url(../fonts/Titillium_Web_regular.woff2);
}
@font-face
{
    font-family: Titillium Web;
    src: url(../fonts/Titillium_Web_600.eot),
         url(../fonts/Titillium_Web_600.ttf),
         url(../fonts/Titillium_Web_600.woff),
         url(../fonts/Titillium_Web_600.woff2);
    font-weight: 600;
}
@font-face
{
    font-family: Titillium Web;
    src: url(../fonts/Titillium_Web_700.eot),
         url(../fonts/Titillium_Web_700.ttf),
         url(../fonts/Titillium_Web_700.woff),
         url(../fonts/Titillium_Web_700.woff2);
    font-weight: 700;
}

/*     <----- main plugin part ----->     */
.cc-options, .cc-popup, .cc-settings
{
    font-family: 'Titillium Web', sans-serif;
    position: fixed;
    font-size: 18px;
}
.cc-options
{
    width: 46px;
    height: 46px;
    bottom: 0;
    right: 0;
    /*display: none;*/
    background: url("../img/cc_wb.png") bottom right no-repeat;
    background-size: 100%;
    cursor: pointer;
}
.cc-popup, .cc-settings
{
    width: 250px;
    padding: 10px;
    bottom: 50px;
    right: 50px;
    border: 1px solid #222222;
    border-radius: 6px;
    background-color: rgba(50, 50, 50, 0.6);
}
.cc-settings
{
	display: none;
}
.cc-popup p, .cc-settings p
{
    margin: 0;
    color: #ffffff;
    line-height: 18px;
	text-align: justify;
}
.cc-popup a, .cc-settings a
{
    color: #f09700;
	transition: all linear .125s;
	-o-transition: all linear .125s;
	-moz-transition: all linear .125s;
	-webkit-transition: all linear .125s;
}
.cc-popup a:hover, .cc-settings a:hover
{
    color: #eeeeee;
}
.cc-dismiss, .cc-dismiss-no,
.cc-delete, .cc-create
{
	margin-top: 5px;
	text-align: center;
	cursor: pointer;
	color: #f09700;
	padding: 2px;
	background-color: #ffffff;
	border-radius: 4px;
	transition: all linear .125s;
	-o-transition: all linear .125s;
	-moz-transition: all linear .125s;
	-webkit-transition: all linear .125s;
}
.cc-dismiss:hover, .cc-dismiss-no:hover,
.cc-delete:hover, .cc-create:hover
{
	color: #ffffff;
	background-color: #f09700;
}
.cc-delete, .cc-create
{
	width: 150px;
	border: 1px solid #eeeeee;
	font-family: 'Titillium Web', sans-serif;
}